* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a:link{
    color: #a84747;

}
.logo {
    font-size: 50px;
    color: rgb(212, 212, 212);
    list-style: none;
    text-decoration: none;
}

h1{
    font-size: 40px;
}


nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: burlywood;
}


nav ul li {
    display: inline-block;
    color: azure;
   

}

nav ul {
    display: flex;
    align-items: center;
    padding-right: 20px;
   
}

form {

    width: 175px;
    background-color: antiquewhite;
}

.button input {
    color: #fff;
    height: 1.5em;
    width: 6.4em;
}

#v {
    background-color: rgb(68, 136, 0);
}

#f {
    background-color: rgb(146, 5, 5);
}
table{
   
    border: 1px solid black;
}
th td{
 background-color: aquamarine;
}
    